:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
}


img {
    display: block;
    max-width: 100%;
}

input {
    padding: 0;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-items: center;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(120deg,
        #d4fc79 0%,
        #96e6a1 100%);
    height: 80px;
}

.search-form {
    font: inherit;
    /* padding: 8px; */
    width: 200px;
    height: 50px;
    /* margin-bottom: 16px; */
    /* background-color: rgb(40, 94, 194); */
    display: flex;
    align-items: center;
    /* justify-items: flex-end; */
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    /* position: relative; */
}

.search-input {
    width: auto;
    background-color: rgb(255, 255, 255);
    color: #000000;
    margin-right: 8px;
    padding: 5px;
    /* position: absolute; */
    border-radius: 5px;
    align-items: center;
    justify-items: center;
    border: transparent;
}

.search-submit {
    background-color: #FC6C85;
    color: #fafafa;
    padding: 5px;
    border-radius: 5px;
    border: transparent;
}


.gallery {
    max-width: 1200px;

}

@media screen and (min-width: 1200px) {
    .gallery {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-bottom: -30px;
        padding-top: 80px;
    }
}

.gallery__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

/* .container {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
} */

@media screen and (max-width: 1199px) {
    .gallery__link:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .gallery__link {
        margin-left: 30px;
        margin-bottom: 30px;
    }
}

.gallery__link:hover {
    cursor: zoom-in;
}

.thumb {
    overflow: hidden;
    margin: 5px;
    border-radius: 4px;
}

@media screen and (min-width: 1200px) {
    .thumb {
        height: 150px;
    }
}

.photo-card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 640px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    object-fit: cover;

}

@media screen and (min-width:1200px) {
    .photo-card {
        width: 270px;
    }
}

.photo-card:hover {
    transform: scale(1.03);
}

.info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info-item {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

@media screen and (min-width: 1200px) {
    .info-item {
        font-size: 10px;
    }
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    display: flex;
    justify-content: center;

}

.load-more {
    display: block;
    background-color: #ee3232;
    color: #fafafa;
    border-radius: 5px;
    border: transparent;
    margin: auto;
}

.load-more.is-hidden {
    display: none;
}